
.play-button-primary-on-white {
    @include play-button;
    background-color: $main-color-red;
    color: $main-color-white;
}

.play-button-secondary {
    @include play-button;
    background-color: $main-color-lightblue;
    color: $main-color-black;
}

.play-button-primary-on-dark {
    @include play-button;
    background-color: transparent;
    color: $main-color-lightblue;
    box-sizing: border-box;
    border: 2px solid;
}