
$main-color-red: #E3170A;
$main-color-black: #011827;
$main-color-grey: #B6BDB5;
$main-color-darkblue: #36769D;
$main-color-lightblue: #8ACFE5;
$main-color-white: #FFFFFF;
$mobile-screen-breakpoint: 800px;

@import 'mixins.scss';
@import 'button-classes.scss';
@import 'keyframes.scss';

// class for background-state 
.background-state {
    opacity: 0.5;
    transition: opacity 0.1s;
}


html {
    @include font-style-regular;
}

body {
    background-color: white;
    a {
        color: $main-color-white;
        text-decoration: none;
    }
    @include mobile-screen {
        margin: 0;
        background-color: white;
        max-width: auto;
    }
}

.container {
    max-width: 1280px;
    margin: 5px auto;

    @include mobile-screen {
        max-width: auto;
        margin: 0 auto;
        z-index: 1;
    }
}



.header {
    background-color: $main-color-black;
    color: $main-color-white;
    display: flex;

    img {
        width: 128px;
        height: 82px;
        margin: 1em;
    }
    .brandname {
        display: flex;
        align-items: flex-end;
        font-size: 1.4em;
    }

    @include mobile-screen {
        img {
            margin-right: 0.4rem;
        }
        .brandname {
            font-size: 1rem;
            padding-right: 5rem;  
        }
    }
}

.navbar {
    background-color: $main-color-black;
    color: $main-color-white;
    margin: 0;
    padding: 0;

    .navmenu {
        display: flex;
        margin: 0;
        padding: 0 6rem;
        justify-content: space-around;
    }

    li {
        list-style-type: none;
        padding: 1rem;
    }
    a:hover {
        color: $main-color-lightblue;
    }
    .hamburger, .closeBtn {
        display: none;
    }

    @include mobile-screen {
        .navmenu {
            display: none;
            padding: 0;
            z-index: -1;
            .closeBtn {
                display:none;
            }

        }
        .active {
            @include font-style-bold;
            z-index: 11;
            display: flex;
            position: fixed;
            flex-direction: column;
            justify-content: center;
            background-color: $main-color-black;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
            width: calc(100% - 40px);
            height: calc(100% - 40px);
            top: 20px;
            left: 20px;
            bottom: 20px; 
            right: 20px;

            animation: fade-in 0.2s;
            li {
                display: flex;
                justify-content: center;
            }
            .closeBtn {
                display: block;
                height: 40px;
                width: 40px;
                position: absolute;
                top: 0;
                right: 0;
                margin: 10px;
            }
        }
        .hamburger {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            margin: 30px 20px 0 0;
        }
    }
}

.hero {
    background-color: $main-color-white;
    position: relative;

    img {
        width: 100%;
        max-height: 100%;
    }

    .hero-buttons {
        position: absolute;
        max-width: 27rem;
        min-width: 13.5rem;
        left: 0;
        right: 0;
        margin: auto;
        bottom: -0.5rem;
    }

    @include mobile-screen {
        .hero-buttons {
            position: static;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1rem 1rem 0 1rem;
            margin: 0;

            a {
                margin: 0.5rem;
                &:nth-child(1) {
                    @include play-button-mobile;
                    order: 2;
                }
            }

        }
    }

}
.testimonials {
    margin: 0;
    padding: 5rem 0 0 0;
    background-color: $main-color-white;
    display: flex;

    > * {
        flex-basis: 50%;
        img {
            float: left;
        }
        blockquote {
            @include font-style-italic;
            font-weight: 400;
            display:flex;
            flex-direction: column;
            margin-top: 0;
            margin-right: 0;
            padding: 0 1rem;
        }
        figcaption {
            font-size: 0.75rem;
            font-style: normal;
            padding-top: 0.5rem;
        }
    }
    .first {
        padding-left: 3rem;
    }

    @include mobile-screen {
        display: inline-block;
        margin: 0;
        padding: 0 0 1rem 0;
        .first {
            margin: 0;
            padding: 0;
            img {
                transform: scale(0.75);
            }
            blockquote {
                padding: 0;
                margin: 1rem 1rem 1rem 0;
            }
        }
        .second {
            display: none;
        }
    }
}

.popular-challenges {
    display: block;
    background-color: $main-color-white;
    padding: 0;
    margin: 0;
    h1 {
        display: block;
        text-align: center;
        font-size: 1.5rem;
        padding: 3rem;
        margin: 0;
    }

    .challanges {
        display: flex;
        justify-content: space-evenly;

            .card {
                @include card;
                display: block;
                
                .room-pic {
                    height: 50%;
                    background-image: url('img/hero.png');
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                .room-content {
                    height: 50%;
                    font-size: 0.75rem;
                    padding: 0.5rem;
                    display: flex;
                    flex-direction: column;

                    .room-name {
                        font-size: 1rem;
                    }
                    .second-row {
                        display: flex;
                        justify-content: space-between;
                        .review {
                            color: $main-color-red;
                        }
                    }
                    .room-info {
                        display: inline-block;
                        padding: 0.5rem 0;
                    }
                    .book-room {
                        display: flex;
                        justify-content: flex-end;
                        a {
                            font-size: 0.75rem;
                        }
                    }
                }
            }
    }
    
    .pop-play-button {
        display: flex;
        justify-content: center;
        padding: 3rem;        
    }

    @include mobile-screen {
        h1 {
            margin: 0;
            padding: 1rem 0;
            font-size: 1rem;
        }
        .wrapper {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            .challenges {
                flex: 0 0 auto;
            }
            .card {
                margin: 20px;
            }

        }
        .pop-play-button {
            position: static;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1rem;
            margin: 0;
            a {
                &:nth-child(1){
                    @include play-button-mobile;
                    order: 2;
                }

            }
        }
    }

}

.story {
    background-color:$main-color-black;

    margin: 0;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    blockquote {
        text-align:center;
        color: $main-color-white;
        font-size: 1.16rem;
        padding: 0 8rem;
    }

    @include mobile-screen {
        padding: 2rem 1rem;

        blockquote {
            padding: 0;
        }
    }
}

.play-grid {
    display: flex;
    flex-wrap: wrap;
    * {
        flex: 1 1 50%;
    }

    img {
        width: 100%;
        height: 100%;
    }

    .play-onsite-content, .play-online-content {
        background-color: $main-color-white;
        * {
            display: flex;
            flex-direction: column;
            margin: 0 4rem;
        }
        h2 {
            font-size: 1.33rem;
            margin-top: 3rem;
        }
        span {
            font-size: 1rem;
            margin-top: 1rem;
        }
        a {
            display: inline-block;
            margin-top: 1rem;
        }
    }

    @include mobile-screen {
        .play-onsite-content, .play-online-content {
            flex-basis: 100%;
            margin: 0;
            padding: 1rem 0.5rem;
            h2 {              
                margin: 0;
                padding: 0;
            }
            span {
                margin: 0;
                padding: 1rem 0;
            }
            a {
                @include play-button;
                margin: 0;
            }
            
        }
        .play-online-content {
            order: 2;
        }
    }
}

.footer {

    background-color: $main-color-black;
    color: $main-color-white;
    font-size: 0.75rem;
    display: flex;
    padding: 4rem;

    .about-esc {
        padding-right: 6rem;
    }

    .sitemap, .follow-us {
        white-space: nowrap;
        padding: 0 3rem;
        
    }

    ul {
        list-style-type: none;
        h4 {
            margin-bottom: 5px;
        }

    }
    @include mobile-screen {
        padding: 1rem;
        margin: 0;
        display: block;
        *, .about-esc, .sitemap, .follow-us {
            margin: 0;
            padding: 0;
        }
        .sitemap {
            padding: 1rem 0;
         }

    }
}
